/* This file is for your main application css. */

@import "./skeleton.css";

.static-header {
 color: black;
 display: inline-block;
 font-size: 25px;
 padding: 18px 30px;
 font-weight:bold;
 font-size:16px;
 text-decoration:none !important;
 line-height:1;
}
.header-container{
    margin-bottom: 40px;
}
.container {
 width: 100%;
 max-width: 100%;
 padding-left: 20px;
}
 
#nav {
 margin: 20px 0 0 0;
 padding-left: 20px;
 background-color:#FB8C00;
}

#nav ul {
 text-align: center;
 margin: 10px;
}
#nav nav ul li {
 display: inline;
 margin: 0 50px 0 0;
 width:100%;
}
 
#nav a {
 color: #FFFF;
 display:inline-block;
 padding: 18px 30px;
 font-weight:bold;
 font-size:16px;
 text-decoration:none !important;
 line-height:1;
}
 
#nav a:hover {
 text-decoration: underline overline;
 background-color: white;
 color: #FB8C00;
}

nav.home .home,
nav.projects .projects,
nav.services .services,
nav.contact .contact{
    background-color:#e35885;
}